<!DOCTYPE html>
<html>
   <head>
      <title>Halaman Background</title>
      <style type="text/css">
         html,body{height: 100%;}
         .bg-utama{
         background-image: url(https://wallpaperaccess.com/download/dota-2-4k-5651870);
         background-size: cover;
         background-position: center;
         text-align: center;
         height: 100%;
         width: 100%;
         display: table;
         vertical-align: middle;
         }
         h2,p{color: orange;}
         .konten-ditengah {
         display: table-cell;
         vertical-align: middle;
         }
      </style>
   </head>
   <body>
      <div class="bg-utama">
      <div class="konten-ditengah">
        <h2>nama = Muhammad Ansar</h2>
        <h2> Kelas = B </h2>
        <h2> semester = 4 </h2>
        <h2>alamat = jl gerilya gang 87 rt 60 no 14</h2>
        <h2> hobi = ranked main game moba dota 2 </h2>
         </div>
      </div>
   </body>
</html>