<!DOCTYPE html>
<html>
   <head>
      <title>Halaman Background</title>
      <style type="text/css">
         html,body{height: 100%;}
         bg-utama{
         background-image: url(https://wallpaperaccess.com/download/dota-2-4k-5651870);
         background-size: cover;
         background-position: center;
         text-align: center;
         height: 100%;
         width: 100%;
         display: table;
         vertical-align: middle;
         }
         h2,p{color: orange;}
         .konten-ditengah {
         display: table-cell;
         vertical-align: middle;
         }
      </style>
   </head>
   <body>
      <h1>{{ judul }}</h1>
      <h2>
         <ul>
            <li>
               <a href="/">home</a>
            </li>
            <li>
               <a href="/about">about</a>
            </li>
         </ul>
      </h2>
   </body>
</html>